{% extends 'form_builder/base.html' %}
{% load template_tags %}
{% block content %}
    {% include 'form_builder/messages.html' %}
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="container">
            <h1>eCLIP (CLIPper) Form Builder</h1>
            {{ form.as_p }} <!-- main form -->
        </div>

        <div class="container">
            <hr>
            <h2>Add new sample (Full paths only)</h2>
            <div class="row">
                <label for="experiment">Experiment name (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="experiment" id="experiment" pattern="[a-zA-Z0-9_]+"></div>
                <label for="sample">Sample name (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="sample" id="sample" pattern="[a-zA-Z0-9_]+"></div>
                <label for="cells">Cells (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="cells" id="cells" pattern="[a-zA-Z0-9_]+"></div>
            </div>
            <div class="row">
                {% include 'form_builder/fastq_submit.html' %}
            </div>
            <div class="row my-4">
                <div class="col-md">
                    <button type="submit" name="newItem" value="newItem">Add sample</button>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <hr>
            {% include 'form_builder/fastq_display.html' %}
            <button type="submit" name="save" value="save">Save and Download (CLIPper)</button>
            <!-- <button type="submit" class="save btn btn-secondary">Submit</button> -->
        </div>
    </form>
    <div class="container">
        <h1>Running the pipeline on TSCC [TL;DR]</h1>

        <h5>On your computer, transfer the downloaded file to TSCC and login:</h5>
<pre><code>
scp manifest.yaml username@tscc-dm1.sdsc.edu:/oasis/tscc/scratch/username/manifest.yaml
ssh username@tscc-login12.sdsc.edu
</code></pre>
        <h5>On TSCC:</h5>
<pre><code>
screen -x                                                  # or just "screen" if you have no active screens
qsub -I -q home-yeo -l nodes=1:ppn=1 -l walltime=48:00:00  # request interactive compute node for running
cd /oasis/tscc/scratch/username/                           # navigate to folder where this manifest exists
chmod +x ./this_manifest.yaml                              # make this manifest "executable"
module load eclip/0.7.1                                    # load the "eclip" module
./this_manifest.yaml                                       # kick off the pipeline

</code></pre>

    </div>
{% endblock %}