{% load template_tags %}

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleSelect2" class="form-label mt-4 custom-cursor-default-hover">IP</label>
            <select multiple="" class="form-select" id="exampleSelect2">
                {% for fi in files %}
                    <option>{{fi}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleSelect2" class="form-label mt-4 custom-cursor-default-hover">IN</label>
            <select multiple="" class="form-select" id="exampleSelect2">
                {% for fi in files %}
                    <option>{{fi}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>