<div class="row">
    <h2>Added fastqs</h2>
    <h6>Check samples will be added to manifest, unchecked samples will be excluded.</h6>
    <table class="table">
    <tr>
        <th style="width:10%;">Add to manifest</th>
        <th style="width:10%;">Delete from database</th>
        <th style="width:10%;">Name</th>
        <th style="width:100%;">Path</th>
    </tr>
    {% for fastq in SEfastqs %}
    <tr>
        <td style="width:10%;vertical-align : middle;text-align:center;" rowspan="2"><input class="mx-2" type="checkbox" value={{fastq.id}} name="fqid_{{fastq.id}}" checked="true"></td>
        <td style="width:10%;vertical-align : middle;" rowspan="2">

            <button type="submit" name="delete_fqid_{{fastq.id}}" class="btn btn-danger">Delete</button>
        </td>
        <td style="width:10%;" >Fastq path (Replicate <b>{{fastq.replicate}}</b>)</td>
        <td><input style="width:100%;" disabled id="display_path" value="{{fastq.path}}"></input></td>
    </tr>
    <tr>
        <td style="width:10%;" >Adapter path</td>
        <td><input style="width:100%;" disabled id="display_adapter_path" value="{{fastq.adapter_path}}"></input></td>
    </tr>
    {% endfor %}
    </table>
</div>