{% extends 'form_builder/base.html' %}
{% load template_tags %}
{% block content %}
    {% include 'form_builder/messages.html' %}
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="container">
            <h1>SKIPPER Config and Manifest form builder</h1>
            {{ form.as_p }} <!-- main form -->
        </div>

        <div class="container">
            <hr>
            <h2>Add new sample (Full paths only)</h2>
            <div class="row">
                <label for="experiment">Experiment name (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="experiment" id="experiment" pattern="[a-zA-Z0-9_]+"></div>
                <label for="sample">Sample name (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="sample" id="sample" pattern="[a-zA-Z0-9_]+"></div>
                <label for="cells">Cells (alphanumeric or underscores only, no spaces)</label>
                <div class="col"><input class="form-control" type="text" name="cells" id="cells" pattern="[a-zA-Z0-9_]+"></div>
            </div>
            <div class="row">
                {% include 'form_builder/fastq_submit.html' %}
            </div>
            <div class="row my-4">
                <div class="col-md">
                    <button type="submit" name="newItem" value="newItem">Add sample</button>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <hr>
            {% include 'form_builder/fastq_display.html' %}
            <button type="submit" name="save_config" value="save_config">Save and Download CONFIG</button>
            <button type="submit" name="save_manifest" value="save_manifest">Save and Download MANIFEST</button>
            <!-- <button type="submit" class="save btn btn-secondary">Submit</button> -->
        </div>
    </form>
{% endblock %}