option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings

packages:
    yum:
        MySQL-python: []
        python3-devel: []
        mariadb-devel: []
        gcc: []

commands:
  01_create_log:
    command: touch /var/log/cp_log
  02_change_permissions:
    command: chmod 777 /var/log/cp_log
  03_change_owner:
    command: chown webapp:webapp /var/log/cp_log

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate"
    leader_only: true
