{% extends 'blog/base.html' %} 
{% block content %} 
    <h2>New CLIP Submission</h2>
    <form method="POST" class="post-form">{% csrf_token %} 
        {{ form.as_p }}
        <p>Add fastq</p>
        <input type="text" name="new_fastq">
        <ul>
            {% for fastq in fastq %} 
                {% if fastq.complete == True %}
                    <input type="checkbox" value={{fastq.title}} name="{{fastq.id}}" checked="true">{{fastq.title}}
                {% else %}
                    <input type="checkbox" value={{fastq.title}} name="{{fastq.id}}" >{{fastq.title}}
                {% endif %}
            {% endfor %}
        </ul>

        <button type="submit" name="newItem" value="newItem">Add Item</button>
        <button type="submit" name="save" value="save">Save Fastq</button>
        <!-- <button type="submit" class="save btn btn-secondary">Submit</button> -->
    </form>
{% endblock %}