{% extends 'blog/base.html' %}
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        <div class="container">
            <h1>New CLIP Submission</h1>
            {{ form.as_p }} <!-- main form -->
        </div>

        <div class="container">
            <hr>
            <h2>Add new sample (Full paths only)</h2>
            <div class="row">
                <div class="col-sm">
                    <h4>Add CLIP sample</h4>

                    <div>
                        CLIP fastq name<div><input type="text" name="ip_fastq_title"></div>
                    </div>
                    <div>
                        CLIP fastq path<div><input type="text" name="ip_fastq_path"></div>
                    </div>
                    <div>
                        CLIP adapter path
                        <div>
                            <select id="ip_adapter_path" name="ip_adapter_path">
                            {% for x, y in form.fields.barcode_file.choices %}
                                <option value="{{ x }}"{% if form.fields.barcode_file.value == x %} selected{% endif %}>{{ y }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <h4>Add SIZE MATCHED INPUT sample</h4>
                    <div>
                        SMINPUT fastq name<div><input type="text" name="sminput_fastq_title"></div>
                    </div>
                    <div>
                        SMINPUT fastq path<div><input type="text" name="sminput_fastq_path"></div>
                    </div>
                    <div>
                        SMINPUT adapter path
                        <div>
                            <select id="sminput_adapter_path" name="sminput_adapter_path">
                            {% for x, y in form.fields.barcode_file.choices %}
                                <option value="{{ x }}"{% if form.fields.barcode_file.value == x %} selected{% endif %}> {{ y }} </option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container my-4">
            <hr>
            <div class="row">
                <h2>Added fastqs</h2>
                <h6>Check samples will be added to manifest, unchecked samples will be excluded.</h6>
                <ul>
                {% for fastq in fastq %}
                    <li><input type="checkbox" value={{fastq.id}} name="fqid_{{fastq.id}}" checked="true">{{fastq.ip_title}}: {{fastq.ip_path}}</li>
                {% endfor %}
                </ul>


            </div>
            <button type="submit" name="newItem" value="newItem">Add Item</button>
            <button type="submit" name="save" value="save">Save Fastq</button>
            <!-- <button type="submit" class="save btn btn-secondary">Submit</button> -->
        </div>
    </form>
{% endblock %}